// MAIN
$main-background: #D5F1EF;


// EFFECTS
$blob-main:#a9d2ff;
$wave-main: red; 

// SVG-TEXT

$grey-main: darken(grey, 25%);
$grey-main2: #6D6D6D;
$white-main: rgb(231, 230, 230);

// SVG-MOBILE
$green-light1: rgb(154, 231, 183);
$green-light2: darken(#48B19B, 20%);
$green-light3: #48B19B;
$black: black; 


$blue-dark1: #234864;


