// MODAL
.ant-modal-content {
  background-color: $light-blue;
  border: 0.25rem solid $dark-blue;
  .ant-modal-header {
    background-color: $light-blue;
    border-radius: 0;
    border-bottom: 0.15rem solid $dark-blue;

    .ant-modal-title {
      font-family: $main-text1;
      letter-spacing: 1.5;
      color: $dark-blue;
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .ant-modal-body {
    background-color: $light-blue;
  }
  .ant-modal-footer {
    background-color: $light-blue;
    border-top: none;
  }
}

[class*="ant-tabs"] > * {
  font-family: $main-text1;
  background-color: $light-blue;
}

.ant-tabs-nav-scroll {
  color: $green2;
  font-family: $main-text1;
}

.ant-tabs-tab {
  color: $dark-blue;
}

.ant-tabs-nav-scroll:after {
  background-color: $light-blue;
}

.ant-tabs-line {
  background-color: $light-blue;
  border-radius: 0px;
  border: none;
}

[class*="ant-collapse"] > * {
  background-color: $light-blue;
}

.ant-modal-close-icon svg {
  fill: $dark-blue;
  stroke: 3px;
}
// COLLAPSE

.ant-collapse-icon-position-left {
  border-radius: 0px;
  border: 2px solid $dark-blue;

  .ant-collapse-item {
    border-bottom: none;
    &:last-child {
      border-radius: 0;
      &:last-child .ant-collapse-header {
        border-radius: 0;
        border-bottom: none;
      }
    }
  }

  .ant-collapse-content-active {
    border: none;
    p {
      font-family: $main-text1;
    }
  }

  .ant-collapse-header {
    border-radius: 0;
    border-bottom: 2px solid $dark-blue;
    font-family: $main-text1;
    color: $wave-main;
  }
  svg {
    fill: $green;
  }
}

.ant-tabs-tabpane,
.ant-tabs-tabpane-active {
  border: none;
  border-radius: 0px;
  color: $dark-blue;
}

// TABS-COLLAPSE

.country__flag {
  .ant-collapse-content-box {
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }
}

.country__photo {
  img {
    width: 100%;
    height: 100%;
  }

  .slick-dots {
    color: $wave-main;
    .slick-active {
      color: $blue;
    }
  }
}



// CHARTS

.highcharts-container {
  border: 0.15rem solid $dark-blue;
}

.highcharts-credits {
  display: none;
}
