$main: #a9d2ff;

.landing_main {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.main_section {
  width: 100%;
  height: 100%;
  background-color: lightsteelblue;
  float: left; 
}


.main_section-buttons {
  border: 2px solid red;  
  display: inline-block;
}

.blob-1{
  background-color: pink;
  // background-image: linear-gradient(to right, #c79556, #a7a457, #80b06d, #52b891, #00bcba, #00bdc5, #00becf, #00bfd8, #00c1c4, #00c19e, #00bd67, #0cb613);
}

.wave {
  width: 100%;
  height: 100%;
}

.globe {
 width: 600px;
 height:600px; 
}




